## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'
dir_data = 'D:\機器學習100天\HW4\data'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: D:\機器學習100天\HW4\data\application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
print("列數：%d\n欄數：%d" %(app_train.shape[0],app_train.shape[1]))

列數：307511
欄數：122

#### 列出所有欄位

In [5]:
pd.DataFrame(app_train.columns, columns=['columns'])

                        columns
0                    SK_ID_CURR
1                        TARGET
2            NAME_CONTRACT_TYPE
3                   CODE_GENDER
4                  FLAG_OWN_CAR
5               FLAG_OWN_REALTY
6                  CNT_CHILDREN
7              AMT_INCOME_TOTAL
8                    AMT_CREDIT
9                   AMT_ANNUITY
10              AMT_GOODS_PRICE
11              NAME_TYPE_SUITE
12             NAME_INCOME_TYPE
13          NAME_EDUCATION_TYPE
14           NAME_FAMILY_STATUS
15            NAME_HOUSING_TYPE
16   REGION_POPULATION_RELATIVE
17                   DAYS_BIRTH
18                DAYS_EMPLOYED
19            DAYS_REGISTRATION
20              DAYS_ID_PUBLISH
21                  OWN_CAR_AGE
22                   FLAG_MOBIL
23               FLAG_EMP_PHONE
24              FLAG_WORK_PHONE
25             FLAG_CONT_MOBILE
26                   FLAG_PHONE
27                   FLAG_EMAIL
28              OCCUPATION_TYPE
29              CNT_FAM_MEMBERS
..                          ...
92     DEF_30_CNT_SOCIAL_CIRCLE
93     OBS_60_CNT_SOCIAL_CIRCLE
94     DEF_60_CNT_SOCIAL_CIRCLE
95       DAYS_LAST_PHONE_CHANGE
96              FLAG_DOCUMENT_2
97              FLAG_DOCUMENT_3
98              FLAG_DOCUMENT_4
99              FLAG_DOCUMENT_5
100             FLAG_DOCUMENT_6
101             FLAG_DOCUMENT_7
102             FLAG_DOCUMENT_8
103             FLAG_DOCUMENT_9
104            FLAG_DOCUMENT_10
105            FLAG_DOCUMENT_11
106            FLAG_DOCUMENT_12
107            FLAG_DOCUMENT_13
108            FLAG_DOCUMENT_14
109            FLAG_DOCUMENT_15
110            FLAG_DOCUMENT_16
111            FLAG_DOCUMENT_17
112            FLAG_DOCUMENT_18
113            FLAG_DOCUMENT_19
114            FLAG_DOCUMENT_20
115            FLAG_DOCUMENT_21
116  AMT_REQ_CREDIT_BUREAU_HOUR
117   AMT_REQ_CREDIT_BUREAU_DAY
118  AMT_REQ_CREDIT_BUREAU_WEEK
119   AMT_REQ_CREDIT_BUREAU_MON
120   AMT_REQ_CREDIT_BUREAU_QRT
121  AMT_REQ_CREDIT_BUREAU_YEAR

[122 rows x 1 columns]

#### 截取部分資料

In [6]:
app_train.iloc[50:80]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
50,100058,0,Revolving loans,F,N,Y,0,54000.0,135000.0,6750.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
51,100059,0,Cash loans,M,Y,Y,1,540000.0,675000.0,34596.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,3.0
52,100060,0,Cash loans,M,Y,N,0,76500.0,454500.0,14661.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
53,100061,0,Cash loans,F,N,Y,2,225000.0,314055.0,16164.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
54,100062,0,Cash loans,M,Y,N,0,81000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
55,100063,0,Cash loans,F,N,Y,0,180000.0,837427.5,45558.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
56,100064,0,Cash loans,F,N,N,0,67500.0,298728.0,15381.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
57,100068,0,Revolving loans,M,N,Y,0,81000.0,247500.0,12375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
58,100069,0,Cash loans,M,Y,Y,1,360000.0,640458.0,27265.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
59,100070,0,Cash loans,M,Y,Y,0,540000.0,1227901.5,46899.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
60,100071,0,Cash loans,F,N,Y,0,180000.0,1663987.5,86989.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
61,100072,0,Cash loans,M,N,N,0,180000.0,1080000.0,44118.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
62,100073,0,Cash loans,M,Y,Y,0,324000.0,1130760.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
63,100075,0,Cash loans,F,N,N,0,112500.0,95940.0,10462.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
64,100076,0,Cash loans,M,Y,N,0,180000.0,315000.0,9679.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
65,100077,0,Cash loans,M,N,Y,0,180000.0,1256400.0,40657.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,8.0
66,100078,0,Cash loans,F,Y,Y,0,180000.0,1035000.0,43983.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
67,100079,0,Revolving loans,M,N,Y,0,225000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
68,100080,0,Revolving loans,F,N,N,1,157500.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
69,100081,0,Cash loans,M,Y,N,0,180000.0,450000.0,21109.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
70,100082,0,Cash loans,M,N,N,2,180000.0,450000.0,21109.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
71,100083,0,Cash loans,M,Y,Y,0,103500.0,573628.5,24435.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
72,100084,0,Cash loans,M,N,Y,2,225000.0,495351.0,26140.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
73,100085,0,Cash loans,M,N,Y,1,157500.0,755190.0,28894.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
74,100086,0,Cash loans,F,N,Y,1,135000.0,675000.0,21775.5,...,0,0,0,0,0.0,0.0,0.0,1.0,4.0,2.0
75,100087,0,Cash loans,F,N,Y,1,202500.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
76,100088,0,Revolving loans,F,N,N,0,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
77,100089,0,Cash loans,M,N,Y,0,135000.0,337761.0,15781.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
78,100093,0,Cash loans,F,N,Y,1,94500.0,585000.0,28273.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
79,100094,0,Cash loans,F,N,Y,0,108000.0,113760.0,5301.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子